@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
padding: 0px;
margin: 0px;
}
.main{
display: flex;
margin-left: 50px;
margin-top: 150px;
}
.leftside-main{
margin-top: 70px;
 margin-left: 100px;
}
.rightside-container{
margin-left: 300px;
margin-top: 50px;
width: 560px;
height: 789px;
}
.how-pagetraffic{
font-family: Inter;
width: 441px;
height: 84px;
top: 963px;
left: 150px;
gap: 0px;
opacity: 0px;
font-size: 30px;
font-weight: 500;
line-height: 36.31px;
letter-spacing: 0.02em;
}
.PageTraffic-text{
font-family: Inter;
margin-top: 60px;
width: 464px;
height: 91px;
top: 1085px;
left: 150px;
gap: 0px;
opacity: 0px;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.02em;

}
.link-traffic{
    margin-top: 40px;
    margin-left: 15px;
}
.link-traffic ul li{
padding-top: 20px;
font-family: Inter;
width: 393px;
height: 30px;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.02em;

}
.total-content{
display: flex;
width: 341px;
height: 68px;

}
.total{
margin-top: 40px;
}
.total span{
font-family: Inter;
color:  #FF1D03;
font-size: 30px;
font-weight: 500;
line-height: 36.31px;


}
.total p{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
padding-top: 10px;
}
.span-total{
margin-left: 50px;
}
.button{
width: 173px;
height: 52px;
top: 1558px;
left: 150px;
gap: 0px;
border-radius: 10px;
opacity: 0px;
background-color: aqua;
margin-top: 70px;
border: none;
}
.IWantLeads-1 h3 p span{
    width: 270px;
height: 333px;
top: 888px;
left: 730px;
gap: 0px;
border-radius: 25px;
border: 1px 0px 0px 0px;
opacity: 0px;
background-color: aqua;

}
.button-explore{
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 21.78px;
width: 108px;
height: 22px;
color: #ffff;
text-decoration: none;


}
.rightsideimage{
    margin-left: 20px;
   
}
.leftside-image{
    margin-top: -100px;
}
.containerimage{
display: flex;
width: 560px;
height: 789px;
margin-left: 100px;
margin-top: 50px;

}

.iwnat-leads{
 width: 160px;
height: 31px;
top: 1044px;
left: 750px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 26px;
font-weight: 500;
line-height: 31.47px;
margin-top: 30px;
margin-left: 20px;

}
.IWantLeads-1{
width: 300px;
height: 333px;
top: 888px;
left: 730px;
gap: 0px;
/* border: 1px solid red; */
box-shadow: 0px 4px 13px 0px #0000000f;
border-radius: 25px;

}
.IWantLeads-2{
    width: 300px;
    height: 333px;
    top: 888px;
    left: 730px;
    gap: 0px;
    /* border: 1px solid ; */
    box-shadow: 0px 4px 13px 0px #0000000f;
    border-radius: 25px;
    margin-top: 20px;
    background-color: #F6FFFE;
}
.IWantLeads-3{
    width: 300px;
    height: 333px;
    top: 888px;
    left: 730px;
    gap: 0px;
    /* border: 1px solid ; */
    box-shadow: 0px 4px 13px 0px #0000000f;
    border-radius: 25px;
    margin-top: 20px;
    background-color: #F6FFFE;
}
.IWantLeads-4{
    width: 300px;
    height: 333px;
    top: 888px;
    left: 730px;
    gap: 0px;
    /* border: 1px solid ; */
    box-shadow: 0px 4px 13px 0px #0000000f;
    border-radius: 25px;
    margin-top: 20px;
}
.content-image{
    width: 300px;
height: 200px;


}
.image{
    margin-left: 20px; 
    margin-top: 20px
}
.looking{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.02em;
margin-top: 20px;
margin-left: 20PX;

}
.view-leads p{
    color: aqua;
}
.view{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
color:  #FF1D03;
margin-left: 20px;
padding-top: 10px;

}

 .leftside-section{
    margin-left: 150px;
    margin-top: 50px;
 }
.left-text{
    font-family: Inter;
font-size: 26px;
font-weight: 500;
line-height: 31.47px;
color: #E71D36;
}
    